@model Insurance.Models.Motorinsurance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Motorinsurance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNICnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNICnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankACC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankACC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HolderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HolderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehiclenubmer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehiclenubmer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchasedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchasedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyValidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyValidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Package)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Package)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Policynumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
